html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  main {
    padding: 2em 3em;
  }

  #GlobalizationExamples {
    display: grid;
    grid-template-columns: 1fr;
  }

  #GlobalizationExamples ol {
    list-style-type: disc;
  }

  #GlobalizationExamples img {
    width: 50%;
  }

  .ExamplePhotoLeft {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ExamplePhotoRight {
    display: grid;
    grid-template-columns: 1fr;
  }

  aside {
    padding: 0 3em 2em;
    text-align: right;
  }

  aside a {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  aside a {
    color: #113878;
  }

  aside a {
    text-decoration: none;
  }

  aside a:hover {
    color: #80E3E5;
  }

@media screen and (min-width: 48em) {

    #GlobalizationExamples img {
        width: 100%;
      }    

    .ExamplePhotoLeft {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }

    .ExamplePhotoLeft h3 {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .ExamplePhotoLeft img {
        grid-column: 1;
        grid-row: 2;
    }

    .ExamplePhotoLeft ol {
        grid-column: 2;
        grid-row: 2;
    }

    .ExamplePhotoRight {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }

    .ExamplePhotoRight h3 {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .ExamplePhotoRight ol {
        grid-column: 1;
        grid-row: 2;
    }

    .ExamplePhotoRight img {
        grid-column: 2;
        grid-row: 2;
    }

  }

  @media screen and (min-width: 85em) {

    #GlobalizationExamples {
        grid-template-columns: 1fr 1fr;
        gap: 3em;
      }

    #GlobalizationExamples img {
        width: 100%;
      }    

    .ExamplePhotoLeft {
        grid-column: 1;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }

    .ExamplePhotoLeft h3 {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .ExamplePhotoLeft img {
        grid-column: 1;
        grid-row: 2;
    }

    .ExamplePhotoLeft ol {
        grid-column: 2;
        grid-row: 2;
    }

    .ExamplePhotoRight {
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }

    .ExamplePhotoRight h3 {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .ExamplePhotoRight ol {
        grid-column: 2;
        grid-row: 2;
    }

    .ExamplePhotoRight img {
        grid-column: 1;
        grid-row: 2;
    }

  }