html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  main {
    padding: 2em 3em;
  }

  .AuthorDate {
    font-size: var(--font-size-sm);
    padding: 0 0 1em;
  }

  aside {
    padding: 0 3em 2em;
    text-align: right;
  }

  aside span {
    color: #113878;
  }

  aside a {
    text-decoration: none;
  }

  aside span:hover {
    color: #80E3E5;
  }