html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }
  
  nav {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  nav a {
    text-decoration: none;
  }
  
  /* place the checkbox way off screen to not be visible BUT still accessible by someone using a keyboard or assistive technology. Preferred over display: none */
  input.nav-toggle {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
  }
  
  /* if input.nav-toggle is checked then display the nav. 
  ~ looks for any nav element that is preceded by the input.nav-toggle. */
  input.nav-toggle:checked ~ nav {
    display: block;
  }
  
  /* display the label in mobile that has our hamburgur menu  */
  label.nav-toggle-label {

  }

  header img {
    width: 15%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: black;
  }

  .top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    display: grid;
    padding: 0.5em 2em 0.5em 0.5em;
    background-color: #80E3E5;
  }

  footer {
    background-color: #80E3E5;
    padding: 1em 1em 3em;
  }

