html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }


  header h1 {
    text-align: center;
  }

  #GlobalizationImages {
    background-color: #acdedf;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 1em 0;
    gap: 0.5em;
  }

  #GlobalizationImages img{
    width: 100%;
  }

  #Articles {
    background-color: #e8e4db;
    padding: 2em 6em 4em;
  }

  .ArticlesGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3em;
  }

  #Articles h2 {
    text-align: center;
  }

  #Articles img {
    width: 100%;
  }

  .ArticlesGrid a {
    text-decoration: none;
  }

  .Article a {
    display: grid;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;
    border-color: rgb(37, 151, 207, 0.2);
  }

  #Articles h5 {
    color: #2597CF;
    padding: 0 0.75em;
  }

  #Articles p {
    padding: 0 0.75em;
  }
  
  #Blogposts {
    margin: 0 2em;
  }

  #Blogposts ul {
    list-style-type: none;
  }
  
  #Blogposts a {
    text-decoration: none;
  }

  #Blogposts li {
    margin: 0.5em 0;
  }

  @media screen and (min-width: 48em) {
    
    #GlobalizationImages {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.5em;
    }

    #GlobalizationImages img:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
    }

    #GlobalizationImages img:nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    #GlobalizationImages img:last-child {
      grid-row: 2;
      grid-column: 2;
    }

    .ArticlesGrid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .ArticlesGrid article:first-child {
      grid-row: 1;
      grid-column: 1;
    }

    .ArticlesGrid article:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
    }

  }
  
  @media screen and (min-width: 85em) {
    
    #GlobalizationImages {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 0.5em;
    }

    #GlobalizationImages img:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }

    #GlobalizationImages img:nth-child(3) {
      grid-column: 3;
      grid-row: 1;
    }

    #GlobalizationImages img:last-child {
      grid-column: 4;
      grid-row: 1;
    }

    .Article a {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
    }

    .Article a img {
      grid-row: 1/-1;
      grid-column: 1;
    }

    .Article a h5 {
      grid-row: 1;
      grid-column: 2;
    }

    .Article a ul {
      grid-row: 2;
      grid-column: 2;
    }

  }